.readmore-js-toggle, .readmore-js-section {
  display: block;
  width: 100%;
}
.readmore-js-section {
  overflow: hidden;
}












body {
  background-image: url(http://images6.alphacoders.com/371/371656.jpg);
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    }

header{
  width: 1000px;
  font-family: 'Shadows Into Light', cursive;
  
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  
  
  border-radius: 20px; 20px;
  
  text-align: center;

}
section{

  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  color: white;
}
p{
  text-align: center;

}

img{

  border-radius: 20px; 20px;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  
}

body {
  background-color: #e3e3e3;
}

nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  z-index: 999;
 
  background-color: #ea4444;
}

nav ul {
  margin: 10px;
  padding: 10px;
  font-size: 17px;
}

nav ul span {
  display: block;
  position: absolute;
  
  background-color: #fff;
}

nav ul li {
  display: block;
  list-style: none;
}

nav ul li a {
  display: block;
  padding: 20px 60px;
  
  color: #fff;
  font-family: sans-serif;
  font-size: 1.1em;
  text-decoration: none;
}

#container {
  display: block;
  position: absolute;
  top: 0;
  left: 10%;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 10px;
  width: 300px;
  height: 300px;
  font-size: 20px;
  
  color: #171717;
  font-family: sans-serif;
  text-align: center;
  
  background-color: #efefef;
  border-radius: 50%;
  box-shadow: 15px 15px 20px rgba(0,0,0,0.5);

}

#container:after {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  left: -15px;
  width: 350px;
  height: 350px;
  z-index: -1;
  
  background-color: #ea4444;
  border-radius: 50%;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

#container h1 {
  display: inline-block;
  margin: 0;
  margin-top: -20px;
  padding: 0;
  padding-top: 50%;
  
  color: #ea4444;
  font-size: 1.5em;
}











head{
  background-color: white;
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
 background-size:cover; 
}
header{

    background-image: url("http://www.wallshark.com/wallpapers/2013/09/Yellow-Background-Different-Color-1800x2880.jpg");
    border-radius: 20px;
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	 background-size:cover; 
   padding: 30px;
	background-color: white;

  height: 250px;

}
#mycanvas{
	margin-left: 200px;
	margin-bottom: 100px;
	font-size: 150px;

}

@import url(http://fonts.googleapis.com/css?family=Chango);

body {
  
  background:url(http://images6.alphacoders.com/371/371656.jpg);
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  

  /* make our image 100% width */
  background-size:cover; 
}
small{
  color: gray;
}

#h1 {
font-family: 'PT Sans', sans-serif;  
font-size:40px;  
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* set the background gradient */
  
  background-size:cover;

  /* set the animation */
  -webkit-animation:moving 20s ease infinite;
}

small{
  font-size: 10px;

}
/* create the animation */
 S
@meida screen and (max-width:1200px) {
	
  header{
		width: 100%
	}
	#mycanvas{
		width: 100%
	}

}