

header{

	border-radius: 200px;
	border-radius: 29px;
	background-color: red;
	width: 1500px;

}
#mycanvas{
	margin-left: 200px;
	margin-bottom: 100px;
	font-size: 50px;
	border-color: red;

}
@meida screen and (max-width:1499px) {
	header{
		width: 100%
	}

}