

header{

	border-radius: 200px;
	border-radius: 29px;
	background-color: red;
	width: 1500px;

}
#mycanvas{
	margin-left: 200px;
	margin-bottom: 100px;
	font-size: 150px;

}

@import url(http://fonts.googleapis.com/css?family=Chango);

body {
  padding-top:50px;
  background:url('http://www.mdwallpapers.com/gallery/wallpapers_16/Opera-Background-Light-Blue.jpg');

  /* make our image 100% width */
  background-size:cover; 
}

h1 {
  font-family:'Chango';
  font-size:40px;  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* set the background gradient */
  
  background-size:cover;

  /* set the animation */
  -webkit-animation:moving 20s ease infinite;
}

/* create the animation */
@-webkit-keyframes moving {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 500px;
  }
}​
@meida screen and (max-width:1499px) {
	header{
		width: 100%
	}
	#mycanvas{
		width: 100%
	}

}